* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #04020a;
    overflow:scroll
    
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  #car-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  #car-list li {
    background-color: #fff;
    box-shadow: 0 2px 4px #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .buy-button{
    text-align: center;
  }

  .img{
    height: 50px;
    text-align: left;
    
  }
  #car-list li img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  comprar{
    text-align: center;

  }
  #compra1{
    text-align: center;
  background-color:white;
  color: black;
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #contato1{
    text-align: center;
  background-color:white;
  color: black;
  display:block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
